body {
    margin: 0;
    padding-top: 20px;
    background: #503E9D;
    margin-bottom: 160px;
}
/****** CONTAINER TOTAL ******/

.container-total {
    max-width: 1500px;
    margin: 0 auto;
    height: 100vh;
    
}

/****** CONTAINER DIVISION ******/

.container-division {
    font-family: 'Poppins', sans-serif;
    display: flex;
}

/****** CONTAINER DIVISION ONE ******/

.container-division-one {
    width: 360px;
}

.container-logo {
    padding-left: 30px;
}

nav {
    margin-top: 126px;
    
}

.container-list {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    line-height: 50px;
    color: #ffffff;
}

.image-before {
    
    position: absolute;
    margin-top: -22px;
    margin-left: 291px;
    background-image: url("images/menu-item-before.png");
    background-repeat: no-repeat;
    width: 29px;
    height: 23px;
}

.home {
    display: flex;
    background: #ffffff;
    color: #FB6D3A;
    border-radius: 32px 0px 0px 32px;
}

.image-after {
    position: absolute;
    margin-top: 50px;
    margin-left: 291px;
    background-image: url("images/menu-item-after.png");
    background-repeat: no-repeat;
    width: 29px;
    height: 23px;
}



.image-home {
    display: flex;
    align-items: center;
    padding-right: 25px;
}

.progress {
    display: flex;
}

.image-progress {
    display: flex;
    align-items: center;
    padding-right:  25px;
}

.messages {
    display: flex;
}

.image-messages {
    display: flex;
    align-items: center;
    padding-right:  25px;
}

.settings {
    display: flex;  
}

.image-settings {
    display: flex;
    align-items: center;
    padding-right:  25px;
}

.container-image-24 {
    background-image: url("images/support-24.png");
    background-repeat: no-repeat;
    margin-top: 142px;
    width: 236px;
    height: 300px;
}


/****** CONTAINER DIVISION TWO ******/
.container-division-two {
   
    background: #ffffff;
    box-shadow: 0px 4px 48px rgba(0, 0, 0, 0.02);
    border-radius: 48px;
}

header {
    display: flex;
    align-items: center;
    padding-top: 60px;
}

.container-icon-search {
    padding-left: 68px;
}

.image-icon-search {
    background-image: url("images/search.png");
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
    width: 24px;
    height: 24px;
    margin-top: -12px;
    margin-left: 25px;
}

.input-search {
    width: 724px;
    height: 60px;
    padding-left: 72px;
    font-size: 16px;
    line-height: 24px;
    background: #F6F6F5;
    border: none;
    border-radius: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    color: #B3B6B6;
}

.container-icon-user {
    padding-left: 60px;
    
}

.container-icon-notification {
    padding-left: 32px;
    padding-right: 68px;
}

/****** CONTAINER UNFINISHED COURSES ******/

.container-unfinished-courses {

}

.container-title {
    font-size: 28px;
    margin-left: 93px;
}

*{box-sizing: border-box;}

.container-courses {
    display: flex;  
}

.course {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 390px;
    margin-left: 85px;
    background-image: url("images/unifished-one/mask-group.png");
    background-repeat: no-repeat;
    padding: 36px;
    flex-basis: 440px;
}

.course-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.course-profile {
    display: flex;
    
}

.course-profile p {
    color: #ffffff;
    line-height: 13px;   
}

.container-image-group-34 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 68px;
    height: 36px;
    background: #FB6D3A;
    backdrop-filter: blur(16px);
    border-radius: 10px; 
    font-size: 14px;
    color: #ffffff;
}



.course-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 368px;
    height: 88px;
    backdrop-filter: blur(36px);
    border-radius: 24px;
    font-size: 18px;
    color: #ffffff;
    line-height: 27px;
}


.course-two {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 390px;
    margin-left: 40px;
    background-image: url("images/unifished-one/other-mask-group.png");
    background-repeat: no-repeat;
    padding: 36px;
    flex-basis: 440px;
}

/****** CONTAINER LIVE LESSONS ******/

.container-live-lessons {
   
}

.container-lives {
  
    display: flex;
    padding: 64px 68px;
}

.live:after {
    content: " ";
    z-index: 1;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 102, 79, 0) 0%, rgba(0, 102, 79, 0.3) 100%);
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 20px;
}

.live {
    position: relative;
    display: flex;
    flex-basis: 96px;
    height: 190px;  
    margin-right: 24px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
  
    justify-content: flex-end;
}

.live-one {
    background-image: url("images/live-lessons/image-live-one.png");
}

.live-two {
    background-image: url("images/live-lessons/image-live-two.png");
}

.live-three {
    background-image: url("images/live-lessons/image-live-three.png");
}

.live-four {
    background-image: url("images/live-lessons/image-live-four.png");
}

.live-five {
    background-image: url("images/live-lessons/image-live-five.png");
}

.live-six {
    background-image: url("images/live-lessons/image-live-six.png");
}

.live-seven {
    background-image: url("images/live-lessons/image-live-seven.png");
}

.image:after {
    content: "LIVE";
    background-color: #FB6D3A;
    color: #FFF;
    padding: 1px 8px;
    border-radius: 5px;
    font-size: 10px;
    position: absolute;
    bottom: -8px;
    width: 36px;
    left: 50%;
    margin-left: -18px;
    box-sizing: border-box;
    z-index: 2;
}

.image:before {
    content: " ";
    border: 2px solid #FB6D3A;
    width: 50px;
    height: 50px;
    bottom: -3.5px;
    left: 50%;
    margin-left: -27px;
    z-index: 1;
    position: absolute;
    border-radius: 50%;
}
.image {
    position: absolute;
    z-index: 2;
    width: 45px;
    height: 45px;
    bottom: 15px;
    left: 50%;
    margin-left: -22.5px;
}

.image-live-one {
    background-image: url("images/live-lessons/image-one.png")
}

.image-live-two {
    background-image: url("images/live-lessons/image-two.png");
}

.image-live-three {
    background-image: url("images/live-lessons/image-three.png")
}

.image-live-four {
    background-image: url("images/live-lessons/image-four.png")
}

.image-live-five {
    background-image: url("images/live-lessons/image-five.png")
}

.image-live-six {
    background-image: url("images/live-lessons/image-six.png")
}

.image-live-seven {
    background-image: url("images/live-lessons/image-seven.png")
}

.container-vector {
  
    background: #F6F6F5;
    border-radius: 16px;   
    margin-top: 65px;
    margin-left: 25px;
    width: 56px;
    height: 56px;
   
}

.vector {
       position: absolute;
       margin-left: 23px;
       margin-top: 22px;
       background-image: url("images/Vector.png");
       background-repeat: no-repeat;
       width: 24px;
       height: 24px;
}

